@media only screen and (max-width: 1023px) {
  body {
    background-color: @astra;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-attachment: fixed;
    background-image: url('../images/bg.jpg');
    background-position: center top;
  }
}

body {
  color: @main-colour;
  font: 100% @font-stack;
  margin: 0 auto;
  text-align: center;
}

#page {
  margin: 0 auto;
  width: 990px;
}

#page-content {
  float: right;
  width: 778px;

  > #contact {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px 5px 0;
    text-align: right;
  }

  #footer {
    #footer-img {
      background-color: @footer-img-colour;
      height: 13px;
    }

    #copyright {
      font-size: 12px;
      font-weight: bold;
      line-height: 50px;
      margin-top: -5px;
      padding-right: 30px;
      text-align: right;
    }
  }
}

#menu {
  background-image: url('../images/menu-bg.jpg');
  float: left;
  height: 100%;
  position: fixed;
  width: 212px;
}

#menu-content {
  margin-top: 10px;

  ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
  }

  li {
    border-color: @menu-border-colour;
    border-top: 1px solid;

    div {
      color: @menu-font-colour;
      font-size: 14px;
      font-weight: bold;
      margin: 11px 20px;
      text-decoration: none;
    }

    span {
      visibility: hidden;
    }
  }

  li:hover {
    cursor: pointer;

    div {
      color: @menu-hover-font-colour;
    }

    span {
      visibility: visible;
    }
  }

  li:last-of-type {
    border-bottom: 1px solid;
  }
}

#logo {
  padding: 25px 0 15px;
}

.content-container {
  margin-left: auto;
  margin-right: auto;

  > :first-child {
    margin-top: 30px;
  }

  > :last-child {
    margin-bottom: 30px;
  }
}

#carousel {
  li {
    border-color: @black;
  }

  li:hover {
    background-color: @indicator-hover-colour;
  }

  .indicator {
    .active {
      background-color: @indicator-active-colour;
    }
  }
}
