$font-stack: Helvetica, sans-serif;

$astra: #faecbb;
$black: #000;
$maroon: #800000;
$forest-green: #2f7827;
$turtle-green: #273809;

$main-colour: $turtle-green;
$menu-border-colour: $black;
$menu-font-colour: $turtle-green;
$menu-hover-font-colour: $maroon;
$footer-img-colour: $forest-green;
$indicator-hover-colour: $maroon;
$indicator-active-colour: $turtle-green;
