#contact-content {
  font-size: 14px;
  font-weight: bold;

  #header {
    margin-top: -4px;
  }

  #contact-img {
    background-image: url('../images/contact/1.gif');
    display: block;
    height: 268px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 451px;
  }
}
