#dine-content {
  #header {
    margin-top: -39px;
  }

  #carousel {
    height: 701px;
    margin: 30px 10px;
    width: 760px;

    .prev,
    .next,
    .indicator {
      display: inline;
    }
  }
}
