.img-container {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }

  > :first-child {
    margin-top: 30px;
  }

  > :last-child {
    margin-bottom: 30px;
  }
}
