@import 'partials/variables';

body {
  background-attachment: fixed;
  background-image: url('../images/bg.jpg');
  background-position: center top;
  color: $main-colour;
  font: 100% $font-stack;
  margin: 0 auto;
  text-align: center;
}

#page {
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  width: 990px;
}

#page-content {
  background-position: top right;
  background-repeat: repeat-y;
  float: right;
  min-height: 100%;
  width: 778px;

  > #contact {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px 5px 0;
    text-align: right;
  }

  #footer {
    #footer-img {
      background-color: $footer-img-colour;
      height: 13px;
    }

    #copyright {
      font-size: 12px;
      font-weight: bold;
      line-height: 50px;
      margin-top: -5px;
      padding-right: 30px;
      text-align: right;
    }
  }
}

#menu {
  background-color: transparent;
  background-image: url('../images/menu-bg.jpg');
  background-position: top right;
  background-repeat: repeat-y;
  float: left;
  height: 100%;
  min-height: 100%;
  position: fixed;
  width: 212px;
}

#menu-content {
  margin-top: 10px;

  ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;

    li {
      background-image: url('../images/menu-content-bg.png');
      border-color: $menu-border-colour;
      border-top: 1px solid;
      padding: 10px 0 10px 20px;
    }

    li:last-of-type {
      border-bottom: 1px solid;
    }

    div {
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
    }

    img {
      visibility: hidden;
    }

    .menu-colour {
      color: $menu-font-colour;
    }

    .menu-hover-colour {
      color: $menu-hover-font-colour;
    }
  }
}

#logo {
  padding: 25px 0 15px;
  src: url('../images/logo.png');
}
