#takeout-content {
  #header {
    margin-top: -42px;
  }

  #carousel {
    height: 542px;
    margin: 30px auto;
    width: 757px;

    .prev,
    .next,
    .indicator {
      display: inline;
    }
  }
}
