#takeout-content {
  #header {
    margin-top: -42px;
  }

  #carousel {
    height: 542px;
    width: 757px;
  }
}

#carousel {
  margin: 30px auto;

  .prev,
  .next,
  .indicator {
    display: inline;
  }
}
