#venue-content {
  #lightbox-links {
    margin: 30px auto;
    width: 726px;

    a {
      display: inline-block;
      margin: 5px;
      text-decoration: none;
    }

    img {
      vertical-align: bottom;
    }
  }
}
