#wedding-content {
  #carousel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 640px;
  }

  .img-container {
    background-color: #fff;
    margin: 0 10px;
    -webkit-padding-start: 0;

    .spacer {
      background-color: #faecbb;
      height: 10px;
    }
  }
}
