@()

<div id="contact-content">
  <div id="header">
    <img src='@routes.Assets.versioned("images/contact/header.png")' alt="header"/>
  </div>
  <div class="content-container">
    <div id="map-container">
      <div id="map"></div>
    </div>
    <div>@Messages("contact.address")</div>
    <div>Tel: @Messages("contact.phone") Fax: @Messages("contact.fax")</div>

    <div id="contact-hours">
      <div>@Messages("contact.hours.title")</div>
      <div>
        <span>@Messages("contact.hours.mon.title")</span>
        <span>@Messages("contact.hours.mon.hours")</span>
      </div>
      <div>
        <span>@Messages("contact.hours.tue.title")</span>
        <span>@Messages("contact.hours.tue.hours")</span>
      </div>
      <div>
        <span>@Messages("contact.hours.wed.title")</span>
        <span>@Messages("contact.hours.wed.hours")</span>
      </div>
      <div>
        <span>@Messages("contact.hours.thr.title")</span>
        <span>@Messages("contact.hours.thr.hours")</span>
      </div>
      <div>
        <span>@Messages("contact.hours.fri.title")</span>
        <span>@Messages("contact.hours.fri.hours")</span>
      </div>
      <div>
        <span>@Messages("contact.hours.sat.title")</span>
        <span>@Messages("contact.hours.sat.hours")</span>
      </div>
      <div>
        <span>@Messages("contact.hours.sun.title")</span>
        <span>@Messages("contact.hours.sun.hours")</span>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="@routes.Contact.messages()"></script>
