<div id="dine-content">
    <div id="header">
        <img  src="@routes.Assets.at("images/dine/header.png")" alt="header"></img>
    </div>

    <div id="carousel" class="blueimp-gallery blueimp-gallery-carousel">
        <div class="slides"></div>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <ol class="indicator"></ol>
    </div>
    <div id="links">
        <a href="@routes.Assets.at("images/dine/1.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/2.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/3.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/4.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/5.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/6.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/7.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/8.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/9.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/10.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/11.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/12.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/13.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/14.jpg")"></a>
        <a href="@routes.Assets.at("images/dine/15.jpg")"></a>
    </div>
</div>
