@(content: Option[Html] = None)(implicit menu: Menu, l: Lang)

<!DOCTYPE html>
<html>
  <head>
    <title>@Messages("app.title")</title>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/app.min.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/vendor/vendor.min.css")'>
    <link rel="shortcut icon" type="image/x-icon" href='@routes.Assets.versioned("images/favicon.ico")'>
  </head>
  <body>
    <div id="page">
      <div id="menu">
        <div id="menu-content">
          <a href="/">
              <img id="logo" src='@routes.Assets.versioned("images/logo.png")' alt="Emerald Chinese Restaurant"/>
          </a>
          <ul>
            @for(m <- menu.items) {
              <li class="menu-item" data-url="@m.url">
                <div>
                  <img src='@routes.Assets.versioned("images/arrow-right.png")'/>
                  @m.text
                </div>
              </li>
            }
          </ul>
        </div>
      </div>
      <div id="page-content">
        <p id="contact">@Messages("contact.address") @Messages("contact.phone")</p>
        <div id="main-content">
          @content match {
            case Some(html) => { @html }
            case None => { @home() }
          }
        </div>
        @footer()
      </div>
    </div>

    <script src='@routes.Assets.versioned("javascripts/vendor/vendor.js")' type="text/javascript"></script>
    <script data-main='@routes.Assets.versioned("javascripts/app.js")' src='@routes.Assets.versioned("lib/requirejs/require.js")' type="text/javascript"></script>
    @analytics()
  </body>
</html>
