@(content: Option[Html] = None)(implicit menu: Menu, l: Lang)

@displayContent() = {
  @content match {
    case Some(html) => { @html }
    case None => { @home() }
  }
}

<!DOCTYPE html>

<html>
  <head>
    <title>@Messages("app.title")</title>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/app.min.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/vendor/vendor.min.css")'>
    <link rel="shortcut icon" type="image/x-icon" href='@routes.Assets.at("images/favicon.ico")'>
  </head>
  <body>
    <div id="page">
      <div id="menu">
        <div id="menu-content">
          <a href="/">
              <img id="logo" src='@routes.Assets.at("images/logo.png")' alt="Emerald Chinese Restaurant"/>
          </a>
          <ul>
            @for(m <- menu.items) {
            <li class="menu-item" data-url="@m.url">
              <div class="menu-colour">
                <img src='@routes.Assets.at("images/arrow-right.png")'/>
                @m.text
              </div>
            </li>
            }
          </ul>
        </div>
      </div>
      <div id="page-content">
        <p id="contact">@Messages("contact.address") @Messages("contact.phone")</p>
        <div id="main-content">
          @displayContent()
        </div>
        @footer()
      </div>
    </div>

    <script src='@routes.Assets.at("javascripts/vendor/blueimp-gallery.min.js")' type="text/javascript"></script>
    <script data-main='@routes.Assets.at("javascripts/main.js")' src='@routes.Assets.at("lib/requirejs/require.js")' type="text/javascript"></script>
  </body>
</html>
