<div id="takeout-content">
    <div id="header">
        <img  src="@routes.Assets.at("images/takeout/header.png")" alt="header"></img>
    </div>

    <div id="carousel" class="blueimp-gallery blueimp-gallery-carousel">
        <div class="slides"></div>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <ol class="indicator"></ol>
    </div>
    <div id="links">
        <a href="@routes.Assets.at("images/takeout/1.jpg")"></a>
        <a href="@routes.Assets.at("images/takeout/2.jpg")"></a>
        <a href="@routes.Assets.at("images/takeout/3.jpg")"></a>
    </div>
</div>
