@()

<div id="venue-content">
  <div id="header">
    <img src='@routes.Assets.versioned("images/venue/header.png")' alt="header"/>
  </div>

  <div id="carousel" class="blueimp-gallery">
    <div class="slides"></div>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
  </div>
  <div id="lightbox-links">
    @for(i <- 1 to 6) {
      <a href='@routes.Assets.versioned(s"images/venue/$i.jpg")'>
        <img src='@routes.Assets.versioned(s"images/venue/thumbnails/$i.jpg")'/>
      </a>
    }
  </div>
</div>
