<div id="wedding-content">
    <div id="header">
        <img  src="@routes.Assets.at("images/wedding/header.png")" alt="header"></img>
    </div>
    <div class="img-container">
        <div>
            <img src="@routes.Assets.at("images/wedding/1.png")"></img>
            <img src="@routes.Assets.at("images/wedding/2.png")"></img>
        </div>
        <div class="spacer"></div>
        <div>
            <img src="@routes.Assets.at("images/wedding/3.png")"></img>
            <img src="@routes.Assets.at("images/wedding/4.png")"></img>
        </div>
        <div class="spacer"></div>
        <div>
            <img src="@routes.Assets.at("images/wedding/5.png")"></img>
            <img src="@routes.Assets.at("images/wedding/6.png")"></img>
        </div>
    </div>
</div>
